<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="template1 :: html_head"/>


<body>

<div th:replace="template1 :: menu"> </div>
<div class="col-lg-12">
<div class="panel panel-primary">
	  <div class="panel-heading">liste des doctorants</div>
    <div class="panel-body">
     <div class="container">
      <form th:action="@{/doctorants}" method="get">
      <label> Mot Cle</label>
      <input type="text" name="motCle"/>
      <button type="submit" class="btn btn-primary"> Chercher </button>
      </form>
      
     </div>
      <table class="table table-striped">
	    <tr>
	      <th> code </th> <th> NomFr </th><th> prenom </th> <th> date naissance </th><th> Adresse </th> <th> lieux de naissance </th>
	      <th> Date de naissance </th> <th> Wilaya de naissance </th> <th> Pays de naissance </th> <th> Telephone </th>
	      <th> Enseignant universitaire ? </th> <th> Lieux de travail </th> <th> Mail </th> <th> Nationalite </th>
	    </tr>
	     <tr th:each ="e:${listDoctorants}">
	     <td th:text= "${e.code}"> </td>
	     <td th:text= "${e.nomFr}"> </td>
	     <td th:text= "${e.prenomFr}"> </td>
	     <td th:text= "${e.dateNaissance}"> </td>
	     <td th:text= "${e.adresse}"> </td>
	     <td th:text= "${e.lieuxNaissance}"> </td>
	     <td th:text= "${e.dateNaissance}"> </td>
	     <td th:text= "${e.wilayaNaissance}"> </td>
	     <td th:text= "${e.paysNaissance}"> </td>
	     <td th:text= "${e.tel}"> </td>
	     <td th:text= "${e.enseignatUniv}"> </td>
	     <td th:text= "${e.lieuxTravail}"> </td>
	     <td th:text= "${e.mail}"> </td>
	     <td th:text= "${e.nationalite}"> </td>
	     
	    </tr>
	  </table>
    </div>
    <div class="container">
    <ul class="pagination">
      <li th:class="${status.index==pagecourante}? 'active' : ''" th:each = "p,status:${pages}">
         <a th:href= "@{/doctorants(page=${status.index},size=4)}" th:text = "${status.index}" > </a>
      </li> 
    </ul>
    
    
    </div>

</div>
</div>
	

	
	

</body>
<div th:replace="template1 :: footer">
</div>
</html>