<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="template1 :: html_head"/>


<body>
<div th:replace="template1 :: menu"> </div>
<div class="container">
	
<div class="panel panel-primary">
	
  <div class="panel-heading">liste des Encadrants</div>
    <div class="panel-body">
      <table class="table table-striped">
	    <tr>
	      <th> code </th> <th> NomFr </th><th> prenom </th> <th> date naissance </th><th> Adresse </th>
	    <!-- </tr>
	     <tr th:each ="e:${listDoctorants}">
	     <td th:text= "${e.code}"> </td>
	     <td th:text= "${e.nomFr}"> </td>
	     <td th:text= "${e.prenomFr}"> </td>
	     <td th:text= "${e.dateNaissance}"> </td>
	     <td th:text= "${e.adresse}"> </td>
	    </tr> -->
	  </table>
    </div>
</div>
	
</div>
	
	

</body>
<div th:replace="template1 :: footer">
</div>
</html>