<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Responsive Contact us form Using HTML and CSS</title>
	<link rel="stylesheet" href="../static/css/form-css.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	
</head>
<body>
	
<div class="wrapper" id="app">
  
  <div class="title">
    <h1>{{titre}}</h1>
  </div>
  
  <div class="contact-form" >
   <div v-if="display1" class="contact-form" >
    <div class="input-fields">
      <input v-model="nom " type="text" class="input" placeholder="Nom">
      <input v-model="prenom" type="text" class="input" placeholder="Prenom">
      <input type="text" class="input" placeholder="Adresse">
      <input type="text" class="input" placeholder="Lieux de naissance">
	  <input type="text" class="input" placeholder="Date de naissance">
	  <input type="text" class="input" placeholder="Wilaya de Naissance">
	  <input type="text" class="input" placeholder="Pays de naissance">
	  
	</div>
	<div class="arabe">
	  <input type="text" class="input" placeholder="اللقب">
      <input type="text" class="input" placeholder="الإسم">
	  <input type="text" class="input" placeholder="Telephone">
	  <input type="text" class="input" placeholder="Enseignant permanant">
	  <input type="text" class="input" placeholder="Lieux d'exercice">
	  <input type="text" class="input" placeholder="E-mail">
	  <input type="text" class="input" placeholder="Nationalite">
	  <div class="btn" @click="next(1)"> next</div>
	</div>
   </div>
    <!-- <div class="msg">
      <textarea placeholder="Message"></textarea>
      <div class="btn">send</div>
    </div> -->
   <div v-if="display2" class="contact-form">
    <div class="input-fields">
	  
      <input type="text" class="input" placeholder="Diplome1">
      <input type="text" class="input" placeholder="Date Dipolome1">
      <input type="text" class="input" placeholder="Lieux Diplome1">
	  <input type="text" class="input" placeholder="Diplome2">
      <input type="text" class="input" placeholder="Date Dipolome2">
	  <div class="btn" @click="previous(2)"> previous </div>
	</div>
	<div class="arabe">
	 <input type="text" class="input" placeholder="Lieux Diplome2">
	 <input type="text" class="input" placeholder="Diplome3">
     <input type="text" class="input" placeholder="Date Dipolome3">
     <input type="text" class="input" placeholder="Lieux Diplome3">
	 <label class="lbl">  </label>
	 <div class="btn" @click="next(2)"> next</div>
	 </div>
   </div>
   <!-- <div class="msg">
      <textarea placeholder="Message"></textarea>
      <div class="btn">send</div>
    </div> -->
   <div v-if="display3" class="contact-form">
    <div class="input-fields">
      <input type="text" class="input" placeholder="NomEncadrant">
      <input type="text" class="input" placeholder="PrenomEncadrant">
      <input type="text" class="input" placeholder="GradeEncadrant">
      <input type="text" class="input" placeholder="FaculteEncadrant">
	  <input type="text" class="input" placeholder="EtablissementEncadrant">
	  <div class="btn" @click="previous(3)"> previous </div>
	</div>
	<div class="arabe">
      <input type="text" class="input" placeholder="Nom CoEncadrant">
      <input type="text" class="input" placeholder="Prenom CoEncadrant">
      <input type="text" class="input" placeholder="Grade CoEncadrant">
      <input type="text" class="input" placeholder="Faculté CoEncadrant">
	  <input type="text" class="input" placeholder="Etablissement CoEncadrant">
	  <div class="btn" @click="next(3)"> Next</div>
	</div>
   </div>
   <!-- <div class="msg">
      <textarea placeholder="Message"></textarea>
      <div class="btn">send</div>
    </div> -->
	
	<div v-if="display4" class="contact-form">
    <div class="input-fields">
      <input type="text" class="input" placeholder="Département">
      <input type="text" class="input" placeholder="Specialité">
      <input type="text" class="input" placeholder="Option">
	  <input type="text" class="input" placeholder="Domaine">
	  <div class="btn" @click="previous(4)"> previous </div>
	</div>
	<div class="arabe">
	  <input type="text" class="input" placeholder="Filière">
	  <input type="text" class="input" placeholder="Sujet">
      <input type="text" class="input" placeholder="Mots Clé">
      <input type="text" class="input" placeholder="Resumé">
	  <div class="btn" @click="inscrire()"> terminer</div>
	</div>
   </div>
	
	
  </div>
</div>
	
</body>

<script>
    var app = new Vue({
        el: "#app",
        data: {
		     
		     titre:"Informations Personnelles",
		     display1:true,
			 display2:false,
			 display3:false,
			 display4:false,
			 nom:"",
			 prenom:"",
            items: [{
                id: 1,
                donedone: false,
                text: "item 1",
            }, {
                id: 2,
                done: false,
                text: "item 1",
            }, {
                id: 3,
                done: false,
                text: "item 2",
            }, {
                id: 4,
                done: true,
                text: "item 1",
            }, {
                id: 5,
                done: false,
                text: "item 1",
            }, {
                id: 6,
                done: true,
                text: "item 1",
            }, ],
        },
        methods: {
		    inscrire(){
			axios.post('http://localhost:8080/saveDoctorantRest'+{nomFr: this.nom, prenomFr:this.prenom}
            
		   )
		   .then(reponse=>console.log(reponse));
			console.log("salam");
			},
			
		    next(id){
			if (id===1) {
			this.display1=false;
			this.display2=true;
			this.titre="Diplomes";
			}
			if (id===2) {
			this.display2=false;
			this.display3=true;
			this.titre="Encadrants";	
			}
			if (id===3) {
			this.display3=false;
			this.display4=true;
			this.titre="Sujet";	
			}
	
			},
			previous(id){
			if (id===2) {
			this.display1=true;
			this.display2=false;
			this.titre="Informations Personnelles";
			}
			if (id===3) {
			this.display3=false;
			this.display2=true;
			this.titre="Diplomes";

			}
			if (id===4) {
			this.display4=false;
			this.display3=true;
			this.titre="Encadrements";

			}
			},
            done(id) {
                const item = this.items.find(item => item.id === id)
                item.done = true
            }
        }
    });
</script>

</html>