<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="html_head">
<meta charset="utf-8"/>
<title>Doctorants</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
</head>

<body>
 <div th:fragment="menu">
  <div class="navbar navbar-default" >
    <div class="container-fluid">
       <ul class="nav navbar-nav">
         <li>  <a th:href="@{/doctorants}"> Doctorants </a>   </li>
         <li>  <a th:href="@{/Encadrants}"> Encadrants </a>   </li>
         <li>  <a th:href="@{/formecomplete}"> Saisie </a>   </li>
       </ul>
    </div>
  </div>
  </div>
 
 
 <!-- <section th:fragment="content">  </section> -->
 

  <div th:fragment="footer" class="navbar-fixed-bottom">
     <h4> POST GRADUATION </h4> 
  </div>
  
 
 </body>
 
 </html>